/* BEGIN (write your solution here) */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/* END */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #15141c;
}

/* BEGIN (write your solution here) */
.future-poster {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster-grid {
  position: relative;
  width: 980px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background: transparent;
}

/* Фоновое изображение */
.poster-bg {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  position: relative;
  width: 100%;
  height: 100%;
  background: url("https://i.postimg.cc/5y2CDHy6/future-poster.jpg") center no-repeat;
  background-size: cover;
  background-position-x: center;
  background-color: #673ab7;
  opacity: 0.6;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
}

/* Заголовок */
.poster-title {
  color: #fff;
  font-size: 4em;
  grid-column: 4 / 7;
  grid-row: 2 / 5;
  margin-right: 0;
  margin-left: 0;
  padding: 0 50px;
  font-weight: 700;
  line-height: 1.1;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 2;
  width: 60%;
}

.poster-subtitle {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0 50px;
  position: absolute;
  left: 0;
  bottom: 80px;
  z-index: 2;
}

/* Прозрачные ячейки поверх изображения */
.cell {
  position: absolute;
  background: #15141c;
  z-index: 3;
}

.cell-1 {
  /* Оставляем пустое место в 3-4 ряду (ячейка слева) */
  left: 0;
  top: calc(2 * (100vh / 6));
  width: calc(2 * (980px / 6));
  height: calc(1 * (100vh / 6));
}

.cell-2 {
  /* Маленький квадрат справа снизу */
  right: 0;
  bottom: 0;
  width: calc(1 * (980px / 6));
  height: calc(1 * (100vh / 6));
}

/* END */
